name: Emacs

on: push

jobs:
  test:
    name: test
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v2
        with:
          python-version: "3.x"
          architecture: "x64"

      - uses: purcell/setup-emacs@master
        with:
          version: "27.1"

      - uses: conao3/setup-cask@master
        with:
          version: "snapshot"

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15

      - name: Install Dependency
        run: |
          sudo apt-get install libasound2-dev
          go install github.com/komem3/goalarm/cmd/goalarm

      - name: Run tests
        run: make test
